{% extends 'website/base.html' %}
{% load static %}

{% block title_block %}
    Log In
{% endblock %}

{% block style_block %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block login_active %}
active
{% endblock %}

{% block body_block %}
<div class="login-block">
    <h1>Log In</h1>
    {% if error %}
        <p class="login-error">
            {{ error_message }}
        </p>
    {% else %}
        <p class="login-byline">Welcome back!</p>
    {% endif %}
    <form id="login_form" method="post" action="{% url 'website:login' %}">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="after_login" value="{{ after_login }}">
        {% endif %}
        <label for="username">Username:</label><br />
        <input type="text" name="username" value="" size="25" required/>
        <br />
        <label for="password">Password:</label><br />
        <input type="password" name="password" value="" size="25" required/>
        <br />
        <input type="submit" value="Log In" />
    </form>
</div>
{% endblock %}