{% extends 'website/base.html' %}
{% load static %} 

{% block title_block %}
    Profile
{% endblock %}

{% block style_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
{% endblock %}

{% block profile_active %}
    active
{% endblock %}

{% block body_block %}
    <h1>Welcome, {{ user.username }}!</h1>

    {% if user.userprofile.picture %}
        <img src="{{ user.userprofile.picture.url }}" alt="Profile Picture" style="max-width: 150px;">
    {% endif %}


    <h3>Your Profile</h3>
    <p>Bio: {{ user.userprofile.bio }}</p>
    <p>Date Joined: {{ user.date_joined|date:"F j, Y" }}</p>

    <a href="{% url 'website:edit_profile' %}" class="btn buttonLink">Edit Profile</a>


    <h3>Your Recipes</h3>
    {% if user_recipes %}
    <section class="recipes">
        {% for recipe in user_recipes %}
            <article class="recipe-card">
                <div class="recipe-text">
                    <div class="recipe-header">
                        <!-- Check if poster.profile.picture exists -->
                        {% if recipe.poster.profile.picture %}
                            <img class="rcp-avatar" src="{{ recipe.poster.profile.picture.url }}" alt="Profile Picture">
                        {% else %}
                            <img class="rcp-avatar" src="{% static 'defaults/default_profile.png' %}" alt="Default Profile Picture">
                        {% endif %}
                        <span class="rcp-author">{{ recipe.poster.username }}</span>
                        <span class="rcp-time">{{ recipe.date|timesince }} ago</span>
                    </div>
                    <h3 class="rcp-title">{{ recipe.title }}</h3>
                    <p class="rcp-desc">
                        <span>{{ recipe.description }}</span>
                    </p>
                    <a href="{% url 'website:view_recipe' recipe.id %}">Read full recipe</a>
                    <div class="rcp-tags">
                        {% for tag in recipe.tags.all %}
                            <a class="buttonLink" href="{% url 'website:tags' %}?tags={{ tag.name }}">{{ tag.name }}</a> 
                        {% endfor %}
                    </div>
                    <div class="recipe-footer">
                        <span class="likes"><img src="{% static 'img/like.svg' %}" /> {{ recipe.likes.count }}</span>
                        <span class="comments"><img src="{% static 'img/comment.svg' %}" /> {{ recipe.comments.count }}</span>
                    </div>
                </div>
                <div class="recipe-image">
                    <!-- Check if recipe.picture exists -->
                    {% if recipe.picture %}
                        <img src="{{ recipe.picture.url }}" alt="{{ recipe.title }}">
                    {% else %}
                        <img src="{% static 'defaults/default_16x10.png' %}" alt="Default Recipe Image">
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
    {% else %}
    <p>You have not created any recipes yet.</p>
    {% endif %}

{% endblock %}
