{% extends 'website/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block style_block %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block signup_active %}
active
{% endblock %}

{% block body_block %}
<div class="register-block">
    <h1>Register</h1>
    {% if registered %}
        <p class="register-success">
            Successfully registered!
            <a href="{% url 'website:login' %}">Log in</a><br />
        </p>
    {% else %}
        <form id="user_form" method="post" action="{% url 'website:register' %}"enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
</div>
{% endblock %}
