{% extends 'website/base.html' %}
{% load static %}

{% block title_block %}
    Tags
{% endblock %}

{% block style_block %}
    <script src="{% static 'js/tags.js' %}" data-tags="{{ tags }}"></script>
    <script src="{% static 'js/third-party/multiselect-dropdown.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/tags.css' %}">
{% endblock %}

{% block tags_active %}
active
{% endblock %}

{% block body_block %}

    <div class="tags-block">
        <h1>Tags</h1>
        <p>Find the perfect recipe by filtering by tags below.</p>

        <!-- Search Form -->
        <select name="tags" id="tags" multiple multiselect-search="true" multiselect-max-items="100"></select>
        <form id="tagForm" action="{% url 'website:tags' %}">
            <input type="text" name="tags" id="realtags" hidden>
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Recipe List -->
    <section class="recipes">
        {% if recipes %}
            
        <div class="num-pages">
            <h3>Showing {{ recipes|length }} of {{ recipes.paginator.count }} recipes</h3>
        </div>

            {% for recipe in recipes %}
                <article class="recipe-card">
                    <div class="recipe-text">
                        <div class="recipe-header">
                            <!-- Check if poster.profile.picture exists -->
                            {% if recipe.poster.profile.picture %}
                                <img class="rcp-avatar" src="{{ recipe.poster.profile.picture.url }}" alt="{{ recipe.poster.username }}'s Profile Picture">
                            {% else %}
                                <img class="rcp-avatar" src="{{ MEDIA_URL }}defaults/default_profile.png" alt="Default Profile Picture">
                            {% endif %}
                            <a class="rcp-author" href="{% url 'website:profile' recipe.poster.username %}">{{ recipe.poster.username }}</a>
                            <span class="rcp-time">{{ recipe.date|timesince }} ago</span>
                        </div>
                        <h3 class="rcp-title">{{ recipe.title }}</h3>
                        <p class="rcp-desc">
                            <span>{{ recipe.description }}</span>
                        </p>
                        <a href="{% url 'website:view_recipe' recipe.id %}">Read full recipe</a>
                        <div class="rcp-tags">
                            {% for tag in recipe.tags.all %}
                                <a class="buttonLink" href="{% url 'website:tags' %}?tags={{ tag.name }}">{{ tag.name }}</a> 
                            {% endfor %}
                        </div>
                        <div class="recipe-footer">
                            <span class="likes"><img src="{% static 'img/like.svg' %}" /> {{ recipe.likes.count }}</span>
                            <span class="comments"><img src="{% static 'img/comment.svg' %}" /> {{ recipe.comments.count }}</span>
                        </div>
                    </div>
                    <div class="recipe-image">
                        <!-- Check if recipe.picture exists -->
                        {% if recipe.picture %}
                            <img src="{{ recipe.picture.url }}" alt="{{ recipe.title }}">
                        {% else %}
                            <img src="{{ MEDIA_URL }}defaults/default_16x10.png" alt="Default Recipe Image">
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <div class="num-pages">
                <h3>No recipes found for the selected tag(s).</h3>
            </div>
        {% endif %}
    </section>

    <div class="pagination">
        {% if recipes.has_previous %}
            <a href="?tags={{ query }}&page=1" class="btn buttonLink">First</a>
            <a href="?tags={{ query }}&page={{ recipes.previous_page_number }}" class="btn buttonLink">Previous</a>
        {% else %}
            <a class="btn buttonLink" role="link" aria-disabled="true">First</a>
            <a class="btn buttonLink" role="link" aria-disabled="true">Previous</a>
        {% endif %}

        <span>Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}</span>

        {% if recipes.has_next %}
            <a href="?tags={{ query }}&page={{ recipes.next_page_number }}" class="btn buttonLink">Next</a>
            <a href="?tags={{ query }}&page={{ recipes.paginator.num_pages }}" class="btn buttonLink">Last</a>
        {% else %}
            <a class="btn buttonLink" role="link" aria-disabled="true">Next</a>
            <a class="btn buttonLink" role="link" aria-disabled="true">Last</a>
        {% endif %}
    </div>
{% endblock %}