@import url('https://fonts.googleapis.com/css2?family=Monomakh&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --theme_green: #257413;
    --theme_yellow: #fff34b;
}

#start {
    display: flex;
    flex-direction: row;
    font-family: "Monomakh";
    margin-left: 0.5em;
    font-size: 2em;
    color: var(--theme_yellow);
    align-self: center;
}

#centre {
    /* flex: 0 1 15em; */
    min-width: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#centre>ul {
    display: flex;
    font-size: 1.25em;
    gap: 1em;
    padding: 0;
}

#end {
    min-width: 225px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

#end>ul {
    display: flex;
    font-size: 1.25em;
    gap: 1em;
    padding: 0;
    align-items: center;
}

ul.tags li {
    background: var(--theme_yellow);
    border: #02111b 2px solid;
    border-radius: 0.5em;
    color: #02111b;
    list-style-type: none;
    padding: 0.25em 0.5em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Source Serif 4", serif;
    font-weight: 350;
    background-color: #eaf2e3;
    color: #02111b;
    padding: 0;
}

header {
    background-color: var(--theme_green);
    color: var(--theme_yellow);
    font-family: "Monomakh", serif;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
}

li#avatar-icon {
    padding: 0;
    border-radius: 50%;
}

li#avatar-icon a {
    padding: 0;
    vertical-align: bottom;
    height: min-content;
    height: 48px;
    width: 48px;

}

li#avatar-icon a img {
    padding: 0;
    vertical-align: bottom;
    height: min-content;
    border-radius: 50%;
}