.delete_account-block {
    margin: auto;
    margin-top: 1.5em;
    width: 310px;
    background-color: white;
    border-radius: 0.75em;
    border: var(--theme_black) 2px solid;
    padding: 1em 1em;
}

.delete_account-block h1 {
    text-align: center;
}

.delete_account-byline {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.5em 0;
}

.delete_account-error {
    font-size: 1.2em;
    border: var(--theme_red) 2px solid;
    border-radius: 0.5em;
    font-weight: 400;
    text-align: center;
    padding: 0.3em 0.1em;
    margin: 0.5em 0;
}

@media (max-width: 768px) {
    .delete_account-block {
        margin: 0.5em;
        width: calc(100% - 3em);
        padding: 0.5em 1em;
    }
}