input, textarea, form button, .multiselect-dropdown {
    padding: 0.3em 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border: var(--theme_black) 2px solid;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-family: "Source Serif 4", serif;
    transition-duration: 0.2s;
}

input, textarea {
    width: 100%;
}

textarea {
    resize: vertical;
}

input:hover, input:focus, textarea:hover, textarea:focus, .multiselect-dropdown:hover, .multiselect-dropdown:focus {
    border-color: var(--theme_red);
}

input[type=submit], form button {
    transition-duration: 0s;
}

input[type=submit], form button:not(.buttonLink) {
    background-color: var(--theme_black);
    color: var(--theme_yellow);
    font-weight: 600;
}

input[type=submit]:hover, input[type=submit]:focus, form button:hover, form button:focus {
    background-color: var(--theme_green);   
    border-color: var(--theme_green);
}

label {
    font-size: 1.2em;
    font-weight: 400;
}

.helptext {
    margin-bottom: 0.5em;
    display: block;
}

.errorlist { 
    list-style-type: none;
    padding: 0;
}

.errorlist li {
    font-size: 1.2em;
    border: var(--theme_red) 2px solid;
    border-radius: 0.5em;
    font-weight: 400;
    text-align: center;
    padding: 0.3em 0.1em;
    margin: 0.5em 0;
}